---
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import TimePeriod from "./_experience/TimePeriod.astro";

const workplaces = await getCollection("workplaces");
---

<Layout>
  <h2>Experience</h2>

  <ol>
    {
      workplaces.map(({ data: wp }) => (
        <Card
          headingText={`${wp.title} @ ${wp.companyName}`}
          technologies={wp.technologies}
          description={wp.description}
        >
          <TimePeriod startDate={wp.startDate} endDate={wp.endDate} />
        </Card>
      ))
    }
  </ol>
</Layout>
