---
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import CardLinks from "../components/CardLinks.astro";
import Layout from "../layouts/Layout.astro";

const projects = await getCollection("projects");
---

<Layout>
  <h2>Projects</h2>

  <ul>
    {
      projects.map(({ data: p }) => (
        <>
          <Card
            headingText={p.name}
            imageSrc={p.image.src}
            imageAlt={p.imageAlt}
            technologies={p.technologies}
            description={p.description}
          >
            <CardLinks links={p.links} />
          </Card>
        </>
      ))
    }
  </ul>
</Layout>
