---
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";
import CardLinks from "../components/CardLinks.astro";
import Layout from "../layouts/Layout.astro";

const projects = await getCollection("projects");
---

<Layout>
  <h2>Projects</h2>

  <ul>
    {
      projects
        .sort((a, b) => b.data.priority - a.data.priority)
        .map(({ data: p }) => (
          <>
            <Card
              headingText={p.name}
              imageSrc={p.image}
              imageAlt={p.imageAlt}
              technologies={p.technologies}
              description={p.description}
            >
              {p.links.length > 0 && <CardLinks links={p.links} />}
            </Card>
          </>
        ))
    }
  </ul>
</Layout>
