---
import { ViewTransitions } from "astro:transitions";
import "normalize.css/normalize.css";
import Fonts from "./layout/Fonts.astro";
import GlobalStyles from "./layout/GlobalStyles.astro";
import Header from "./layout/Header.astro";
import ogImage from './layout/og-image.png';
export interface Props {
  pageTitle?: string;
}

const { pageTitle } = Astro.props;

const title = pageTitle ? `${pageTitle} | nickelghost.com` : "nickelghost.com";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content="Gabriel Karczewski's personal website" />
    <meta name="og:title" content="Gabriel Karczewski's personal website" />
    <meta name="og:type" content="website" />
    <meta name="og:image" content={ogImage.src} />
    <meta name="og:url" content={Astro.url.pathname} />

    <title>{title}</title>

    <Fonts
      urls={[
        "https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap",
      ]}
    />

    <GlobalStyles />

    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
