---
import "normalize.css/normalize.css";
import Header from "./layout/Header.astro";

export interface Props {
  pageTitle?: string;
}

const { pageTitle } = Astro.props;

const title = pageTitle ? `${pageTitle} | nickelghost.com` : "nickelghost.com";

const fonts = ["https://fonts.googleapis.com/css?family=Poppins:400,500,600"];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Gabriel Karczewski's personal website" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    {
      fonts.map((f) => (
        <>
          <link
            rel="preload"
            href={f}
            as="style"
            onload="this.onload=null;this.rel='stylesheet'"
          />
          <noscript>
            <link rel="stylesheet" href={f} />
          </noscript>
        </>
      ))
    }
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
    --color-primary: #1a3a50;
    --color-secondary: #93a5b0;
    --color-accent: #ebebeb;
    --color-text: #102533;
    --color-text-secondary: #fafafc;
    --header-width: 320px;
  }

  @media screen and (prefers-color-scheme: dark) {
    :root {
      --color-accent: hsl(204, 52%, 18%);
      --color-text: #fafafc;
    }
  }

  body {
    background: #fafafc;
    color: var(--color-text);
    display: grid;
    font-family: "Poppins", sans-serif;
    grid-template-columns: var(--header-width) 1fr minmax(min-content, 750px) 1fr;
    min-height: 100vh;
  }

  @media screen and (prefers-color-scheme: dark) {
    body {
      background: #0e1f2b;
    }
  }

  main {
    grid-column-start: 3;
    padding: 32px;
  }

  main img {
    display: block;
    object-fit: cover;
    width: 100%;
  }

  h2 {
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 36px;
  }

  a {
    color: hsl(204, 52%, 44%);
  }

  ul,
  ol {
    list-style-type: none;
    padding: 0;
  }

  @media screen and (prefers-color-scheme: dark) {
    a {
      color: hsl(204, 52%, 60%);
    }
  }

  @media screen and (max-width: 800px) {
    body {
      grid-template-columns: 1fr;
    }

    main {
      grid-column-start: 1;
    }
  }
</style>
