---
import "normalize.css/normalize.css";
import Header from "./layout/Header.astro";
import GlobalStyles from "./layout/GlobalStyles.astro";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  pageTitle?: string;
}

const { pageTitle } = Astro.props;

const title = pageTitle ? `${pageTitle} | nickelghost.com` : "nickelghost.com";

const fonts = ["https://fonts.googleapis.com/css?family=Poppins:400,500,600"];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Gabriel Karczewski's personal website" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    {
      fonts.map((f) => (
        <>
          <link
            rel="preload"
            href={f}
            as="style"
            onload="this.onload=null;this.rel='stylesheet'"
            transition:persist
          />
          <noscript>
            <link rel="stylesheet" href={f} />
          </noscript>
        </>
      ))
    }

    <GlobalStyles />

    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
